@import "../mixin";

// Start Welcome
.menu-page,
.services-page,
.blog-page,
.about-page,
.contact-page {
  width: 100%;
  height: 750px;
  background-image: url(../img/welcome-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .over-lay {
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .container {
    .row {
      height: 750px;
      justify-content: center;
      align-items: center;
      text-align: center;
      .welcome-box {
        margin-bottom: 10px;
        z-index: 1;
        text-transform: uppercase;
        .title {
          font-size: 40px;
          color: #fff;
          line-height: 1.5;
          letter-spacing: 1px;
          margin: 48px 0px 16px;
        }
        .text {
          font-size: 13px;
          letter-spacing: 1px;
          line-height: 1.5;
          font-weight: 300;
          color: #bfbfbf;
          margin-bottom: 5px;
          a {
            color: #fff;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
// Start Hot Meal
.hot-meal {
  background-image: none;
  width: 100%;
  padding: 105px 0px;
  .container {
    .row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .hot-meal-top {
        width: 58.3%;
        margin-bottom: 64px;
        .decoration {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: 4.5px;
            margin-right: 100px;
            width: 40px;
            height: 1px;
            background: #8d5d05;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 4.5px;
            margin-left: 100px;
            width: 40px;
            height: 1px;
            background: #8d5d05;
          }
          .decoration-items {
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #fac564;
            transform: rotate(135deg);
            margin: 0px 3.5px;
            &:nth-child(2) {
              width: 10px;
              height: 10px;
            }
          }
        }
        .title {
          font-size: 30px;
          margin-bottom: 24px;
          color: #ffffff;
        }
        .text {
          margin: 22px 0 16px;
          color: gray;
        }
      }
      .hot-meal-bottom {
        width: 100%;
        display: flex;
        margin: 0 -15px;
        gap: 15px;
        .card {
          width: 25%;
          display: flex;
          flex-direction: column;
          text-align: center;
          .pizza-img {
            margin-bottom: 20px;
            a {
              display: inline-block;
              width: 200px;
              height: 200px;
              border-radius: 50%;
              margin: 0 auto;
              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
              }
            }
          }
          .pizza-info {
            .title {
              font-size: 22px;
              margin-bottom: 8px;
            }
            .text {
              margin-bottom: 18px;
            }
            .price {
              color: #fac564;
              font-weight: 400;
              display: inline-block;
              margin-bottom: 18px;
            }
            .btn {
              margin-bottom: 16px;
              a {
                @include btn-primary(
                  #fff,
                  1px solid rgba(255, 255, 255, 0.8),
                  rgba(255, 255, 255, 0),
                  6px 12px,
                  0,
                  13px
                );

                &:hover {
                  @include btn-primary(
                    #000,
                    1px solid #fac564,
                    #fac564,
                    6px 12px,
                    0,
                    13px
                  );
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }

  // Start Welcome
  .menu-page,
  .services-page,
  .blog-page,
  .about-page,
  .contact-page {
    .container {
      .row {
        .welcome-box {
          .title {
            font-size: 30px;
          }
        }
      }
    }
  }

  // Start Hot Meal
  .hot-meal {
    .container {
      .row {
        .hot-meal-top {
          .decoration {
            &::before {
              left: 30%;
            }
            &::after {
              right: 30%;
            }
          }
        }
        .hot-meal-bottom {
          .card {
            .pizza-img {
              a {
                width: 180px;
                height: 180px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 766px) {
  .container {
    max-width: 540px;
  }
  // Start Hot Meal
  .hot-meal {
    .container {
      .row {
        .hot-meal-top {
          width: 100%;
          .title {
            font-size: 28px;
          }
        }
        .hot-meal-bottom {
          flex-direction: column;
          .card {
            width: 100%;

            .pizza-img {
              a {
                width: 200px;
                height: 200px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}
